body{
	
	background-color: #555;
	text-align: center;
}

h1{
	font-size: 50px;
	font-family: Verdana;
}

.button{
	float: left;
	height: 200px;
	width: 200px;
	
	border-radius: 15px;
	box-shadow: 3px 3px 4px #000;
	
	margin-left: 25px;
	
	border: 3px solid #222;
}

.button_stay{
	background: url('thumbsup.jpg') no-repeat #0d0 center;
}

.button_go{
	background: url('thumbsdown.jpg') no-repeat #d00 center;
}

.button_flash{
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FF0000), color-stop(1, #00FF1A));
}

.button_white{
	background-color: #fff;	
}